.HandNS-img, .HandEW-img {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
}

.HandWest-meta, .HandWest-label {
    transform-origin: left bottom;
    transform: rotate(90deg);
}

.HandEast-meta, .HandEast-label {
    transform-origin: left bottom;
    transform: rotate(-90deg);
}
